.page {
    margin: 0;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.main {
    padding-left: 130px;
    padding-right: 130px;
    box-sizing: border-box;
}

h1 {
    font-size: 40px;
    font-weight: 700;
    line-height: 50.32px;
    margin-top: 74px;
    margin-bottom: 47px;
    box-sizing: border-box;
}

.filters {
    margin-bottom: 32px;
    display: flex;
    flex-wrap: nowrap;
    gap: 20px;
    box-sizing: border-box;
}