.wrapper {
    display: flex;
    height: 85.29px;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    padding-left: 126px;
    gap: 45px;
    padding-top: 34px;
    padding-bottom: 31px;
    box-sizing: border-box;
    box-shadow: 0px 7px 64px 0px var(--dropshadow-color);
}

.icon {
    height: 42px;
    width: 42px;
    background-image: url('./img/icon.svg');
    background-size: cover;
}

.text {
    font-family: 'Geometria-Medium';
    font-size: 20px;
    font-weight: 500;
    line-height: 44px;
    color: var(--black-color)
}

.blue_text {
    font-family: 'Geometria-Medium';
    font-size: 20px;
    font-weight: 500;
    color: var(--blue-color);
}

@media (max-width: 376px) {
    .wrapper {
        padding-left: 29px;
        padding-top: 21px;
        padding-bottom: 22px;
        gap: 26px;
    }

    .blue_text {
        display: none;
    }
}