.wrapper {
  width: calc(100% - 180px);
  min-width: 448px;
  height: 48px;
  box-shadow: 0px 7px 64px 0px var(--dropshadow-color);
  border-radius: 6px;
  background-color: white;
  padding: 15px 20px;
  display: flex;
  box-sizing: border-box;
  align-items: center;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  gap: 16px;
}

.icon {
  background-image: url(./icon.svg);
  width: 18px;
  height: 18px;
}

.inputSearch {
  height: auto;
  width: calc(100% - 18px);
  border: none;
  outline: none;
}

.inputSearch::placeholder {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  color: var(--placeholder-color);
}


@media (max-width: 376px) {
  .wrapper {
    width: calc(100% - 54px);
    min-width: 0;
  }
}